.homePage {
    position: relative;
    top: 6vh;
    text-align: center;
    font-family: Calibri sans-serif;
}

.headerHomePage h1 {
    margin: 0;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}


.headerHomePage {
    background-color: rgba(0, 0, 0, 0.8);
}

.pHome {
    font-size: 0.7em;
    margin: 0.8em;
    font-weight: lighter;
    color: yellow;
}

.pHome a {
    color: gray;
}

.pHome a:hover {
    color: yellow;
}

.homePageInfoPictures {
    width: 28vw;
    height: 22vh;
}

.homePageInfoPictures2 {
    width: 40vw;
    height: 34vh;
}

.homePageSection1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
}

.homePageSection2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.homePageDiv {
    text-align: center;
    background-color: rgba(113, 154, 185, 0.9);
    border-radius: 2em;
    margin-bottom: 0.3em;
    color: black;
    font-size: 1em;
}

.homePageDiv2 {
    text-align: center;
    background-color: rgba(113, 154, 185, 0.9);
    border-radius: 2em;
    color: black;
    margin: 2vh 3vw 0 3vw;
    font-size: 1em;
}

.homePageDiv:hover {
    color: yellow;
    background-color: black;
}

.homePageDiv2:hover {
    color: yellow;
    background-color: black;
}

.homeArticle {
    width: 40vw;
    height: 40vh;
    background-color: rgba(0,0,0, 0.9);
    color: white;
    border-radius: 0.5em;
}

.profilePictureHomePage {
    width: 25vw;
    height: 20vh;
}
