.continentNavigation {
    width: 50%;
  margin: 1vh 0 1.5vh 0;
}

.continentNavButton {
    color: white;
    background-color: rgba(0,0,0, 0.7);
    border-radius: 1vw;
    height: 3vh;
    font-size: 0.6em;
    margin: 0.6em;
    cursor: pointer;
    width: 10em;

}


@media screen and (max-width: 480px){
  .continentNavigation {
      width: 70%;

  }
}