#countryPage {
    top: 60px;
    position: relative;
    text-align: center;
}

#countryPageGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.chooseCountries {
    background-color: rgba(0, 0, 0, 0.7);
    width: 60%;
    margin: 30px auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 220px;
}

.chooseCountryNameHeader {
    position: relative;
    top: -20px;
    padding: 5px 0;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: -5px;
    border-bottom: solid black 1px;
}

.chooseCountryNavigate {
    position: relative;
    background-color: rgba(4, 4, 100, 0.6);
    font-size: 16px;
    bottom: -15px;
    height: 32px;
    color: white;
    text-decoration: none;
}

.chooseCountryNavigate:hover {
    color: yellow;
    font-size: 18px;
    background-color: rgba(4, 4, 100, 1);
    bottom: 10px;
}


.chooseCountryImage {
    width: 50%;
    height: 50%;
    border-radius: 50px;
}

.chooseCountryImage:hover {
    width: 60%;
    height: 60%;
}

.chooseCountryNavigateMouse {
    position: relative;
    color: yellow;
    font-size: 18px;
    background-color: rgba(4, 4, 100, 1);
    height: 32px;
}

.chooseCountryImageMouse {
    width: 60%;
    height: 60%;
    border-radius: 50px;
}