.homeNewsDots {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    width: 100%;
}
.homeCountryDots {
    width: 100%;
    margin: 0 auto;
}

.homeNewsDotButton {
    height: 1vh;
    width: 1vw;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 1em 0 1em;
}

#homeNewsDotButtonClicked {
    height: 1vh;
    width: 1vw;
    border-radius: 1em;
    cursor: pointer;
    background-color: black;
}

@media screen and (max-width: 1080px) {


}


@media screen and (max-width: 760px) {
    .homeNewsDotButton {
        margin: 0.75em;
    }
}

@media screen and (max-width: 490px) {


    .homeNewsDotButton {
        margin: 0.4em;
    }

}

@media screen and (max-width: 380px) {


    .homeNewsDotButton {
        margin: 0.2em;
    }

}