/* news page */

.homeNewsDots {
    display: flex;
    justify-content: center;
    margin-top: 1.5em;
    width: 100%;
}

/* country page */


.homeCountryDots {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2.25em auto
}

/* direct in the component */

.homeNewsDotButton {
    height: 1vh;
    width: 1vw;
    border-radius: 1em;
    cursor: pointer;
    margin: 0 1em 0 1em;
}

.homeNewsDotButton:disabled {
    cursor: not-allowed;
}

#homeNewsDotButtonClicked {
    height: 1vh;
    width: 1vw;
    border-radius: 1em;
    cursor: pointer;
    background-color: black;
}


@media screen and (min-width: 1900px) {

    .homeCountryDots {
        display: flex;
        justify-content: center;
        margin-top: 2.25em;
        width: 35vw;
    }
}



@media screen and (max-width: 1080px) {


}


@media screen and (max-width: 760px) {
    .homeNewsDotButton {
        margin: 0.75em;
    }
}

@media screen and (max-width: 490px) {


    .homeNewsDotButton {
        margin: 0.4em;
    }

}

@media screen and (max-width: 380px) {


    .homeNewsDotButton {
        margin: 0.2em;
    }

}