.navMenu {
    max-width: 50%;
    margin: 0 auto;
    padding: 10px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navMenuOption {
    width: 15%;
    padding: 0 10px 0 10px;
    margin: 10px 50px 0 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(96, 94, 94, 0.7);
    border-radius: 30px;
}

.navMenuOption p{
    font-size: 20px;
    margin-right: 10px;
}