 #mainNav {
     top: 0;
     position: fixed;
     background-color: rgba(100,100,100,0.7);
     width: 100%;
     z-index: 2;
     max-height: 12vw;
 }

 .navContent {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 2vw;
 }

 .unfoldButton {
     cursor: pointer;
     border-radius: 20px;
     background-color: #5c6a6e;

 }

.navbarButton {
    font-size: 1.4em;
}

 .navbarButton {
     color: darkblue;
 }

 .navbarButton:hover {
     color: #1f938a;
 }

 .navbarButtonLogin {
     margin: 0 0 0 4vw;
 }

 .loginRegisterNav {
     border: 1px solid black;
     font-size: 1em
 ;
 }

