.optionsMenu {
    width: 10%;
    background-color: #1f938a;
}

.setLanguage {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

.setLanguage button {
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 70%;
}