/* valuta */

.valutaCalculator {
    width: 50%;
    background: linear-gradient(to bottom, rgba(0,0,80, 0.5), rgba(0,0,120,0.5),rgba(0,0,160,0.5),rgba(0,0,190,0.5));
    margin-left: 5vw;
    height: 40vh;
    border-radius: 2vw;
}

.chooseValuta {
    display: flex;
    justify-content: center;
}

.countryPageValutaHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 1em;
    border-top-left-radius: 2vw;
}

.userChoiceValuta {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 100%;
    border-top-right-radius: 2vw;
}

.userChoiceValutaButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.userChoiceValutaName {
    font-size: 1em;
    margin-top: 4vh;
    font-weight: bold;
}

.chooseValutaButton {
    background: linear-gradient(to bottom, rgba(0, 80, 28, 0.7), rgba(0,90,40,0.8),rgba(0,70,35,0.8),rgba(0,75, 90,0.7));
    color: white;
    border-radius: 2em;
    width: 6vw;
    margin: 1em;
    cursor: pointer;
}

.chooseValutaButton:disabled {
    background-color: rgba(255,255,0, 1);
    cursor: none;
}


.chooseCountryForValutaSelect {
    text-align: center;
    border-radius: 1em;
    background: linear-gradient(to bottom, rgba(0,0,80, 0.7), rgba(0,0,120,0.8),rgba(0,0,160,0.8),rgba(0,0,190,0.7));
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 2vh;
}

.chooseCountryForValutaOption {
    background-color: rgba(0,30,180,0.8);
}

.reverseValutaButton {
    background-color: rgba(0,0,140,0.8);
    color: white;
    border-radius: 1em 1em 0 0;
    cursor: pointer;
    font-size: 1em;
}

.reverseValutaButton:disabled {
    cursor: none;
    opacity: 0;
}

.reverseValutaButton:hover {
    color: yellow;
}

@media screen and (max-width: 1080px) {
    /* valuta */

    .chooseCountryForValutaSelect {
        max-width: 50%;
        font-size: 0.7em;
    }
    .countryPageValuta {
        font-size: 0.9em;
    }

    .userChoiceValutaName {
        font-size: 0.8em;
        margin-top: 1vh;
    }

}


@media screen and (max-width: 760px) {
    /* valuta */

    .chooseCountryForValutaSelect {
        max-width: 50%;
        font-size: 0.7em;
    }

}

@media screen and (max-width: 490px) {

}