.PreviousNextButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PreviousButton {
    cursor: pointer;
    width: 4%;
    height: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    font-size: 30px;
    color: rgba(100,100,100, 1);
    font-weight: bold;
    background-color: rgba(0,0,0, 0.5);
}

.PreviousButtonDisabled {
    width: 4%;
    height: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    font-size: 30px;
    color: rgba(100,100,100,0.5);
    font-weight: bold;
    background-color: rgba(0,0,0, 0.1);
}

.NextButton {
    cursor: pointer;
    width: 4%;
    height: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    font-size: 30px;
    color: rgba(100,100,100, 1);
    font-weight: bold;
    background-color: rgba(0,0,0, 0.5);
}

.NextButton:hover {
    color: rgba(255,255,0, 0.8);
}

.PreviousButton:hover {
    color: rgba(255,255,0, 0.8);
}

.NextButtonDisabled {
    width: 4%;
    height: 400px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 30px;
    color: rgba(100,100,100, 0.5);
    font-weight: bold;
    border: none;
    background-color: rgba(0,0,0, 0.1);
}